<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
	
          <% if signed_in? %>

	    <%case @current_user.shubetu%>
	      <%when "riyousha" then%>
  	        <h5>ようこそ <%= @current_user.name%> さん</h5>
	      <%when "care_manager" then%>
	        <h3>ようこそ ケアマネ さん</h3>
	      <%when "sisetu" then%>
	        <h3>ようこそ 施設 さん</h3>
	      <%else%>
	        <h3>ようこそ ゲスト さん</h3>
	    <%end%>

          <% else %>
            <h3>ようこそ ゲスト さん</h3>
          <% end %>

          <li><%= link_to "トップ",         root_path, id: "menu" %></li>
          <li><%= link_to "サイト概要",     about_path, id: "menu" %></li>
          <li><%= link_to "全ユーザー一覧", users_path , id: "menu" %></li>
          <li><%= link_to "ケアマネ一覧",      '#', id: "menu" %></li>

          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                ユーザー設定 <b class="caret" ></b>
              </a>
              <ul class="dropdown-menu">

	        <%case @current_user.shubetu%>
	          <%when "riyousha" then%>
                    <li><%= link_to "プロフィール", current_user %></li>
                    <li><%= link_to "設定変更", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "サインアウト", signout_path, method: "delete" %>
                    </li>

                  <%when "care_manager" then%>
                    <li><%= link_to "プロフィール", current_user %></li>
                    <li><%= link_to "設定変更", edit_user_path(current_user) %></li>
                    <li><%= link_to "コメント投稿", "#"    %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "サインアウト", signout_path, method: "delete" %>
                    </li>

                  <%when "sisetu" then%>
                    <li><%= link_to "プロフィール", current_user %></li>
                    <li><%= link_to "設定変更", edit_user_path(current_user) %></li>
                    <li><%= ilnk_to "施設設定", "#"    %></li>
                    <li><%= link_to "募集案内", "#"    %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "サインアウト", signout_path, method: "delete" %>
                    </li>
                <%end%>

              </ul>
            </li>
          <% else %>
            <li><%= link_to "サインイン", signin_path, id: "menu" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>