<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <h3>ようこそ　さん</h3>
      <nav>
        <ul class="nav pull-right">

          <li><%= link_to "トップページ",        root_path, id: "menu" %></li>
          <li><%= link_to "このサイトについて", about_path, id: "menu" %></li>

          <li><%= link_to "施設一覧",                  '#', id: "menu" %></li>
          <li><%= link_to "ケアマネ一覧",              '#', id: "menu" %></li>
          <li><%= link_to "サインイン",                '#', id: "menu" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>